@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.container{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
}
.container h1{
    font-size: 64px;
    font-family: 'Rethink', sans-serif;
    font-weight: 500;
}
.information{
    margin-top: 100px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information label{
    font-family: 'Rethink', sans-serif;
    font-size: 26px;
    font-weight: 283;
}
.information input{
    width: 400px;
    margin-top: 17px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    border-color: aliceblue;
}
.containerCheckBoxes{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.containerCheckBoxes div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
.containerCheckBoxes label{
    font-family: 'Rethink', sans-serif;
    font-size: 15px;
    font-weight: 200;
}
.containerCheckBoxes h2{
    font-family: 'Rethink', sans-serif;
    font-size: 15px;
    font-weight: 300;
    transition: font-size 0.5s;
}
.containerCheckBoxes h2:hover{
    font-size: 16px;
    color: #0000FF;
}
.containerCheckBoxes p{
    font-size: 15px;
    /*margin-top: 10px;*/
    color: #0000FF;
    font-family: 'Rethink', sans-serif;
    font-weight: 300;
    transition: font-size 0.5s;
}
.containerCheckBoxes p:hover{
    font-size: 16px;
}