    /* Esto es vital para que Swiper pueda calcular el 3D */
    .mySwiper {
    width: 100%;
    max-width: 600px; /* O el ancho que prefieras */
    margin: 0 auto;
    padding: 50px 0; /* Espacio para que no se corten las sombras */
    }

    .card-slide {
    background-position: center;
    background-size: cover;
    width: 200px !important; /* El !important ayuda si Vite/Tailwind lo pisa */
    height: 400px;
    /* Swiper necesita que el slide tenga un tamaño definido para el 'auto' */
    }
.gallery-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    }

    .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    }

    .card-slide {
    background-position: center;
    background-size: cover;
    width: 300px; /* Ajusta según el video */
    height: 400px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    }

    .card-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

    .card-slide p {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    position: absolute;
    bottom: 20px;
    left: 20px;
    /*color: #0000;   Difumina*/ 
    color: #000000;
    font-weight: 200;
    /*text-shadow: 2px 2px 4px rgba(0,0,0,0.5);*/
    }
    .custom-pagination {
    margin-top: 20px;
    text-align: center;
}